

@mixin slanted($height, $color: $color-white, $skew: 2deg) {
  // parent declarations
  & {
    position: relative;
    width: 100%;
    margin-top: 0px;
    z-index: 0;
  }
  &:before {
    content: " ";
    position: absolute;
    left: 0;
    top: -#{$height};
    width: 100%;
    height: $height * 2;
    background: $color;
    @include transform-skewY(2deg);
    -webkit-backface-visibility: hidden;
  }
}

@mixin noslant($height, $color: $color-white, $skew: 0deg) {
  // parent declarations
  & {
    position: relative;
    width: 100%;
    margin-top: 0px;
    z-index: 0;
  }
  &:before {
    content: " ";
    position: absolute;
    left: 0;
    top: -#{$height};
    width: 100%;
    height: $height * 2;
    background: $color;
    -webkit-backface-visibility: hidden;
  }
}
