<div class="article-wrapper">
{% for post in site.categories[page.category] %}
<article>
  <div class="row card-row">
    <div>
      <a class="thumbs" href="{{ post.url | prepend: site.baseurl }}">
      {% if post.image %}
      <img class="img-fluid" src="/images/posts/{{post.image}}" alt="{{ post.title }}" >
      {% else %}
      <img class="img-fluid" src="/images/posts/harrisburg-capital-inside.jpg" alt="{{ post.title }}" >
      {% endif%}
    </a>
      <a class="post-title" href="{{ post.url | prepend: site.baseurl }}"><h2 itemprop="name">{{ post.title }}</h2></a>
      <span class="card-category">Posted <em>{{ post.date | date: '%B %d, %Y' }}</em></span>
      <p>{{ post.content | strip_html | truncatewords:15 }}</p>
      <a class="read-more" href="{{ post.url | prepend: site.baseurl }}">
        Read more <i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
</article>
{% endfor %}
</div>
