

<div id="contact-us" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="contact-us" aria-hidden="true">
    <div class="modal-dialog modal-full-screen">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <span class="fa fa-lg fa-times-circle-o"></span>
              </button>
              <form id="contact" action="https://formspree.io/YOUREMAIL@email.com" method="POST">
                <h3>Thanks for contacting {{ site.title }}!</h3>
                <p class="lead">We want to know what you're thinking, so let us know.</p>
                    <div class="row">
                        <div class="form-group form-group-lg col-md-12">
                            <input class="form-control" type="text" id="Name" name="name" placeholder="Name" data-val="true" data-val-required="Name required." />
                        </div>
                        <div class="form-group form-group-lg col-md-6">
                            <input class="form-control" type="email" id="EmailAddress" name="_replyto" placeholder="Email" data-val="true" data-val-email="Not a valid e-mail." />
                        </div>
                        <div class="form-group form-group-lg col-md-6">
                            <input class="form-control" type="text" id="PhoneNumber" name="PhoneNumber" placeholder="Phone Number" data-val="true" data-val-required="Phone Number required." />
                        </div>
                        <div class="form-group form-group-lg col-md-12">
                            <textarea class="form-control" id="Message" name="Message" placeholder="Message"></textarea>
                        </div>
                    </div>
                        <button type="submit" class="btn btn-success btn-lg col-md-12" />Contact Us</button>
                        <input type="hidden" name="subject" value="NAIFA Request"/>
                        <input type="hidden" name="_next" value="/thanks" />
                        <input type="text" name="_gotcha" style="display:none" />
                    </div>
                  </div>
              </form>
            </div>
        </div>
    </div>
</div> <!-- /#contact -->
