

<div id="contact-us" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="contact-us" aria-hidden="true">
    <div class="modal-dialog modal-full-screen">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <span class="fa fa-lg fa-times-circle-o"></span>
              </button>


              <form class="form-horizontal" id="contact" action="https://formspree.io/{{ site.naifa_email }}" method="post">
                <fieldset>
                    <!-- Address form -->
                    <h3>Thanks for contacting {{ site.title }}!</h3>
                    <p class="lead">We want to know what you're thinking, so let us know.</p>
                    <!-- full-name input-->
                    <div class="form-group form-group-lg col-md-12">
                            <input id="full-name" name="full-name" type="text" placeholder="full name" class="form-control" />
                    </div>
                    <!-- address-line1 input-->
                    <div class="form-group form-group-lg col-md-12">
                            <input id="address-line1" name="address-line1" type="text" placeholder="address line 1" class="form-control" />
                    </div>
                    <!-- address-line2 input-->
                    <div class="form-group form-group-lg col-md-12">
                            <input id="address-line2" name="address-line2" type="text" placeholder="address line 2" class="form-control" />
                    </div>
                    <!-- city input-->
                    <div class="form-group form-group-lg col-md-4">
                            <input id="city" name="city" type="text" placeholder="city" class="form-control" />
                    </div>
                    <!-- region input-->
                    <div class="form-group form-group-lg col-md-4">
                            <input id="region" name="region" type="text" placeholder="state / province / region" class="form-control" />
                    </div>
                    <!-- postal-code input-->
                    <div class="form-group form-group-lg col-md-4">
                            <input id="postal-code" name="postal-code" type="text" placeholder="zip or postal code" class="form-control" />
                    </div>

                </fieldset>

                <button type="submit" class="btn btn-success btn-lg col-md-12" />Contact Us</button>
                <input type="hidden" name="subject" value="NAIFA Request"/>

            </form>


            </div>
            <div class="message-success">
                <h1>Thank You, your request has been submitted to our staff.</h1>
            </div>
            <div class="message-failure">
                <h1>We experienced an error submitting your request.</h1>
            </div>
            <div id="spinner">
                <i class="fa fa-spinner fa-pulse"></i>
            </div>
        </div>
    </div>
</div> <!-- /#contact -->
