{% for post in site.posts limit:10 %}
{% include freshness.html type="post" %}
{% comment %}---> limiting the featured post to masthead,
                  not repeating in body {% endcomment %}
{% unless post.tag contains 'featured' %}
{% include freshness.html type="post" %}
<article>
  <div class="row card-row">
    <div class="col-md-6">
      <a class="thumbs" href="{{ post.url | prepend: site.baseurl }}">
      {% if post.image %}
      <img class="img-fluid" src="/images/posts/{{post.image}}" alt="{{ post.title }}" >
      {% else %}
      <img class="img-fluid" src="/images/posts/Harrisburg.jpg" alt="{{ post.title }}" >
      {% endif%}
    </a>
    </div>
    <div class="col-md-6 cardcontent">
      <a class="post-title" href="{{ post.url | prepend: site.baseurl }}"><h2 itemprop="name">{{ post.title }}</h2></a>
      <span class="card-author">by {{ post.author }} | Posted <em>{{ freshness }}</em> days ago</span>
      <p>
        <a class="post-tag" href="{{ post.category | prepend: site.baseurl | downcase }}"> {{ post.category }}</a>
         {{ post.content | strip_html | truncatewords:32 }}
        <a class="read-more" href="{{ post.url | prepend: site.baseurl }}">
          Read more <i class="fa fa-arrow-circle-right"></i>
        </a>
      </p>
    </div>
  </div>
</article>
{% endunless %}
{% endfor %}
