// Intro div
#naifa {
  height: 75vh;
  @include bg-size(cover);
}
#banner-color-overlay {
  background-color: $color-blue;
  @include opacity(0.5, 5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#blog {
  .banner-text {
    font-size: 2.3vh;
    padding: 6em 0em 2em 1em;
    @include tablet {
      padding: 2em 5em;
    }
    @include mobile {
      padding: 2em 2em;
    }
    h1 {
      font-size: 6vh;
    }
    h2 {
      font-size: 4vh;
    }
    author {
      font-size: 2.8vh;
    }
  }
}

#naifa {
  .banner-text {
    font-size: 2.3vh;
    padding: 6em 0em 2em 1em;
      @include tablet {
        padding: 2em 5em;
      }
      @include mobile {
        padding: 2em 2em;
      }
    h1 {
      font-size: 8vh;
    }
    h2 {
      font-size: 5vh;
    }
    author {
      font-size: 2.8vh;
    }
  }
}

#naifa,
#blog {
  .banner-text {
    color: $color-white;
    width: 1140px;
    margin: 0 auto;
    max-width: 100%;

    &:active,
    &:focus {
      text-decoration: none;
    }
    @include tablet {
      width: 100%;
    }
    @include mobile {
      width: 100%;
    }
    span {
      color: $color-green;
      font-weight: 400;
      text-transform: uppercase;
    }
    @include mobile {
      padding-top: 2em;
      padding-bottom: .5em;
    }
    author {
        margin: 1em 0 1em;
        display: inline-block;
        opacity: .5;
    }
    @extend %vertical-center;
    a:hover{ text-decoration: none; }
    a:hover h1 { color: $color-green;}
    h1 {
      color: $color-white;
      @include mobile {
        font-size: 180%;
      }
      /*@media (max-width: 765px) {
        font-size: 180%;
      }*/
      small {
        color: $color-white;
        display: block;}
    }
  }
}
